{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}LifeScore{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}! May you live to be in good health at age 100! </h1>
</div>

    <div class="w3-container">
        <p align="center"><a href=user ><button class=grey style="font-weight:bold;height:75px;width:250px" >Enter User Data</button></a></p>
        <p align="center"><a href=bmi ><button class=grey style="font-weight:bold;height:75px;width:250px" >See BMI Graph</button></a></p>
        <p align="center"><a href=stroke ><button class=grey style="font-weight:bold;height:75px;width:250px"> Compute Stroke Risk</button></a></p>
        <p align="center"><a href=heart ><button class=grey style="font-weight:bold;height:75px;width:250px"> Compute Heart Attack Risk</button></a></p>
        <p align="center"><a href=cholesterol ><button class=grey style="font-weight:bold;height:75px;width:250px"> Compute Cholesterol Risk</button></a></p>
    </div>

{{ wtf.quick_form(form) }}
{% endblock %}



<p>
{% if result != None %}
<img src="{{ result }}" width=500 alt="">
{% endif %}
</p>